<div class="row" style="border: 2px solid #ccc; height: 80vh;">
    <div class="col-md-2 col-sm-2 col-xs-2" style="border: 1px solid #000; height: 100%">
        <div id="tabbox">
            <ul>
                <li><a ui-sref="home.tab1">选项卡01</a></li>
                <li><a ui-sref="home.tab2">选项卡02</a></li>
            </ul>
            
        </div> 
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10" style="border: 1px solid #000; height: 100%">
        <div ui-view></div>
    </div>
</div>