<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-ui-router/1.0.0-rc.1/angular-ui-router.js"></script>
    <script src="../modules/main.js"></script>
    <script src="../route/router.js"></script>
    <script src="../directive/header.js"></script>
    <script src="../directive/content.js"></script>
    <script src="../directive/footer.js"></script>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <style>
        
    </style>
</head>
<body ng-app="myapp">
    <div ui-view></div>
</body>
</html>